<p> Resposta atual {{json}} </p>
<form action="/json" method=POST>
    <textarea name='json' placeholder="Digite aqui o JSON que será enviado como resposta" ></textarea>

    <button>Salvar</button>
</form>